<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Eo_circle_orange_letter-s.svg/2048px-Eo_circle_orange_letter-s.svg.png">

    <style>
     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:Arial;
      }
     .header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top:0 ;
        left: 0;
        width: 100%;
        height: 70px;
        padding: 20px 100px;
        background-color: black;
            
        }
     .secrets{
        font-size: 1.5em;
        color: orangered;
        user-select: none;
        }
     .navigation { 
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center
        }
     .navigation a { 
        margin: 20px 10px;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        font-weight: 500;
           
      }
     .parent{
        margin-left:20px ;
        margin-right: 30px;
        margin-top: 70px;
        border:1px ;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 30px;
      }
     .child{
        width: 100% ;
        height: fit-content;
        border: 2px solid whitesmoke;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      }
   .child-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   }
      .title{
        /* margin-top: 70px ;  */
        width: 100%;
        padding: 10px ;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: aliceblue;
        background-color: #3B3F41;
        justify-content: right;
        }
     .plusimage{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
     }
     .crossimage{
      display: flex;
      flex-direction:row;
      justify-content: flex-end;
     }
     label{
      text-align: right;
      margin-left: 10%;
      margin-right: 10%;
     }
     input{
            width: 80%;
            padding: 10px;
            margin-top: 5px;  
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-left: 10%;
     }

     textarea{
      width: 80%;
      height: 330px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-left: 10%;
      resize: none;
     }
     .btn-primary{
            border-radius: 20px;
            padding: 10px 20px;
            background-color: black;
            color: whitesmoke;
            border: none;
            cursor: pointer;
            margin-left: 45%;
        }
      .btn-primary:hover {
        background-color:orangered;
      }
     .hide-popup{
      display: none;
    }
     .show-popup{
      background-color: transparent;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      background-color:rgba(2, 2, 2, 0.394) ;
      
     }
     .popup-wrapper{
      background-color:white;
      width: 700px;
      height: 500px;
      margin-right: 150px;
      margin-left: 300px;
      margin-top: 60px;
      margin-bottom: 50px;
      border-radius: 10px;
      

     }
    
    </style>
</head>
<body>
  <div class="header">   
    <h1 class="secrets">Secrets.com</h1>
    <nav class="navigation">
      <a href="#" class="home">Home</a>
      <a href="#"><%= user %></a>
    </nav>
  </div>
  <div class="parent">
    <% allSecrets.forEach(function(eachSecret){ %>
       <div class="child">
      <div class="child-main">
        <p style="font-size: 10px; color:gray ;padding-top: 10px;"><%= eachSecret.createdAt.toString().substring(0,24) %></p>
        <p><%= eachSecret.secret %> </p>
       
      </div>
      <div class="title"><p><%= eachSecret.title %></p></div>
    </div>
    <% }); %>
 
   
  </div>
  <div class="plusimage">
    <img class="plus" id="plus" src="../images/plus.png" alt="pop-up logo" style="margin-right: 20px; width:50px;" />
  </div>
  <div id="popup-parent" class="hide-popup ">
    <div class="popup-wrapper">
      <div class="crossimage">
        <img class="cross" id ='cross' src="../images/Vector.png" alt="crosslogo" style="margin-right:20px; margin-top: 20px; width:15px;"/>
      </div>
      <form action="/secrets" method="post">
    
        <p><label> Your Secret Title</label></p>
        <!-- <p></p> -->
        <input name='title' type="text"/>
        <p><label for="description">Description</label></p>
        <!-- <p></p> -->
        <textarea type="text" name="secret" ></textarea>
        <input type="text" style="display: none;" name="userId" value="<%= userId %>">
  
        <p><button type="submit" class="btn-primary">Save</button></p>
    
      </form>
    </div>
  </div>
<!-- script -->
<script>
  //selecting phase
 const plus= document.getElementById('plus');
 const cross= document.getElementById('cross');
 const popupParent= document.getElementById('popup-parent');

 // adding listeners 
 plus.addEventListener('click',
 // call back on linsening
 (e)=>{
   popupParent.classList.replace('hide-popup','show-popup');
  //  popupParent.classList.toggle()
  //  popupParent.style.backgroundColor='yellow';
 });

 cross.addEventListener('click',(e)=>{
  popupParent.classList.replace('show-popup' ,'hide-popup')
 })
  
</script>
</body>
</html>